@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: #ffffff;
    color: #000000;
}
/* ------------ NAVBAR START ------------ */
nav {
    background: linear-gradient(to right, #463e7d, #31cebd);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 16px;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

nav .container-fluid {
    padding-left: 40px;
}

nav img {
    width: 125px;
}

.navbar {
    padding: 20px 165px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: #000000;
    float: left;
    display: block;
}

.navbar-nav .nav-link {
    position: relative;
    color: #ffffff;
    padding: 10px 15px;
    transition: color 0.3s ease; /* Tambahkan transisi untuk warna */
}

/* Tambahkan elemen animasi segitiga terbalik */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent; /* Setel ukuran segitiga */
    border-right: 13px solid transparent; /* Setel ukuran segitiga */
    border-top: 13px solid #ffffff; /* Warna segitiga terbalik */
    bottom: 130%; /* Posisi di atas teks */
    left: 50%; /* Pusatkan segitiga */
    transform: translateX(-50%) scaleY(0); /* Pusatkan dan sembunyikan */
    transition: transform 0.5s ease; /* Transisi untuk efek */
    z-index: 1; /* Pastikan di atas */
}

/* Efek hover untuk nav link */
.navbar-nav .nav-link:hover {
    color: #dddddd; /* Ubah warna teks saat hover */
}

.navbar-nav .nav-link:hover::after {
    transform: translateX(-50%) scaleY(1); /* Tampilkan segitiga saat hover */
}

/* Tambahkan kelas aktif untuk menampilkan segitiga */
.navbar-nav .nav-link.active::after {
    transform: translateX(-50%) scaleY(1); /* Tampilkan segitiga saat link aktif */
}

/* Nav item (posisi untuk dropdown) */
.navbar-nav .nav-item {
    position: relative;
}

/* Dropdown tanpa segitiga */
.dropdown-menu {
    display: none;
    border: none;
    border-radius: 0;
    z-index: 1050;
    position: absolute;
    top: 100%;
    left: 0;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-end {
    z-index: 1050;
}

/* Gaya untuk link dropdown */
.dropdown-item {
    color: #000000; /* Ubah warna teks dropdown */
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Ubah latar belakang saat hover */
}

/* Pastikan tidak ada warna biru saat diklik */
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    outline: none; /* Menghilangkan outline default */
    color: #ffffff; /* Pastikan warnanya tetap putih */
}

.navbar-nav .nav-link.active {
    color: #ffffff; /* Warna aktif */
}

.dropdown-menu {
    display: none;
    border: none;
    border-radius: 0;
    z-index: 1050;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}

.dropdown a {
    text-decoration: none;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 20px 50px;
    }
}

@media (max-width: 1010px) {
    .navbar {
        padding: 20px;
        margin: 0;
    }
}

@media (max-width: 992px) {
    .navbar-nav .nav-link::after {
        display: none; /* Hilangkan segitiga */
    }
}

@media (max-width: 663px) {
    .navbar {
        padding: 20px;
        margin: 0;
    }
}

/* ------------ HOME START ------------ */


.Home {
    padding-top: 84px;
    padding-bottom: 84px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homecontent {
    margin-top: 184px;
}

.Home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #463e7d, #31cebd);
    opacity: 0.8;
    z-index: 1;
}

.Home .container {
    position: relative;
    z-index: 2;
    color: #ffffff;
}

#hostLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hostLogo img {
    margin: 20px 10px;
}

.Home h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 1px;
}

.Home h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
}

.Home button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 20px;
    background-color: transparent;
    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.Home button:hover {
    background: linear-gradient(to right, #463e7d, #31cebd);
    color: white;
    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Home p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 1px;
}

/* .typing-demo p {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 1px;
} */

/* Animasi pengetikan */
/* @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 71ch;
    }
} */

/* Animasi untuk menghapus teks */
/* @keyframes delete {
    0% {
        width: 71ch;
    }
    100% {
        width: 0ch;
        opacity: 0;
    }
} */

/* Animasi kedip kursor */
/* @keyframes blink {
    0%,
    100% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
} */

/* .cursor {
    display: inline-block;
    animation: blink 0.5s step-end infinite;
} */

/* .typing-demo {
    animation:
        typing 7s steps(71) forwards,
        /* Animasi pengetikan, pakai typing 7s forwards untuk smooth, pakai typing 7s steps(71) forwards agar ngetik */
/* delete 6s steps(71) forwards 10s; /* Hapus teks setelah pengetikan */
/* }  */

@media (max-width: 480px) {
    .Home h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 44px;
        line-height: 80px;
        letter-spacing: 1px;
    }

    .Home h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1px;
    }

    .Home p {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .Home button {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1px;
        margin: 10px;
    }
}

/* ------------ ABOUT US START ------------ */
.AboutUs {
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 10px;
}

#aboutUsH1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

.col-md-6.col-lg-5 {
    position: relative;
}

.excellance-tag {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 200px;
    height: 250px;
    border: #ffffff;
    border-style: solid;
    border-width: 5px;
    background-color: #3584a7;
    color: white;
    z-index: 1;
}

.excellance-text {
    border: #ffffff;
    border-style: solid;
}

#confImg {
    max-width: 80%;
    object-fit: cover;
    z-index: 0; /* Pastikan gambar di bawah tag */
}

.confDay p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
}

.confDay h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
}

.confDay h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
}

#aboutUsH1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

#aboutUsDesc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
    height: 100%;
}

@media (max-width: 1245px) {
    .AboutUs {
        padding-left: 50px;
        padding-right: 50px;
    }

    #confImg {
        max-width: 100%;
    }

    .excellance-tag {
        position: absolute;
        top: 70%;
        left: 30%;
    }
}

@media (max-width: 1245px) {
    .AboutUs {
        padding-left: 50px;
        padding-right: 50px;
    }

    #confImg {
        max-width: 100%;
    }

    .excellance-tag {
        position: absolute;
        top: 70%;
        left: 50%;
    }
}

@media (max-width: 1024px) {
    .AboutUs {
        padding-left: 50px;
        padding-right: 50px;
    }

    #confImg {
        max-width: 100%;
    }

    .excellance-tag {
        position: absolute;
        top: 50%;
        left: 40%;
    }
}

@media (max-width: 991px) {
    .AboutUs {
        padding-left: 50px;
        padding-right: 50px;
    }

    #confImg {
        max-width: 100%;
    }

    .excellance-tag {
        position: absolute;
        top: 40%;
        left: 30%;
    }
}

@media (max-width: 843px) {
    .AboutUs {
        padding-left: 30px;
        padding-right: 30px;
    }

    #aboutUsH1 {
        font-size: 28px;
    }

    #aboutUsDesc {
        font-size: 14px;
    }
}

/* Ukuran layar <= 768px - Reorder .about1h1 dan .aboutUsDesc di atas .confDay */
@media (max-width: 768px) {
    .AboutUs {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 50px;
    }

    .row.flex {
        display: flex;
        flex-direction: column-reverse; /* Balikkan urutan */
    }

    #aboutUsH1 {
        font-size: 26px;
    }

    #aboutUsDesc {
        font-size: 14px;
    }

    #confImg {
        max-width: 90%;
        margin: 0 auto; /* Pusatkan gambar */
    }

    .excellance-tag {
        width: 180px;
        height: 250px;
        top: 75%;
        left: 50%;
        transform: translateX(-50%); /* Pusatkan di tengah */
    }
}

/* Ukuran layar <= 480px */
@media (max-width: 480px) {
    .AboutUs {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #aboutUsH1 {
        font-size: 24px;
    }

    #aboutUsDesc {
        font-size: 12px;
    }

    .confDay h3 {
        font-size: 18px;
    }

    .confDay h4 {
        font-size: 14px;
    }

    .excellance-tag {
        width: 180px;
        height: 250px;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* ------------ Speakers US START ------------ */
.Speakers {
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 100px;
}

.custom-card {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    min-height: 650px;
    max-height: auto;
}

.section-header h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 2px;
    color: #3584a7;
}

.section-header h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #343a3a;
}

.Speakers .card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #343a3a;
}

.Speakers .card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .Speakers {
        margin-left: 100px;
        margin-right: 100px;
    }
    .custom-card {
        width: 230px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .Speakers {
        margin-left: 40px;
        margin-right: 40px;
    }
    .custom-card {
        width: 200px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .Speakers {
        margin-left: 50px;
        margin-right: 50px;
    }
    .custom-card {
        width: 180px;
        min-height: 600px;
    }
    .row {
        justify-content: center;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 576px) {
    .Speakers {
        margin-left: 20px;
        margin-right: 20px;
    }
    .custom-card {
        width: 100%;
        min-height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .row {
        justify-content: center;
    }
}

/* ------------ Tutorial START ------------ */
.tutorial {
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 100px;
}

#tutorialSession img {
    width: 100%;
    margin-bottom: 50px;
}

.tutorial p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .tutorial {
        margin-left: 100px;
        margin-right: 100px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .tutorial {
        margin-left: 80px;
        margin-right: 80px;
        padding-top: 50px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .tutorial {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .tutorial {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 50px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #tutorialSession img {
        margin-bottom: 10px;
    }

    .tutorial .section-header {
        margin-top: 0;
        padding-top: 0;
    }
}

/* ------------ IMPORTANT DATE START ------------ */
.importantDate {
    position: relative;
    padding: 100px 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.importantDate::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #463e7d, #31cebd);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: 1;
}

.importantDate .container,
.importantDate .input-file-wrapper {
    position: relative;
    z-index: 2;
}

.importantDate input[type="file"] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.importantDate button{
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.importantDate .card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: #ffffff solid 2px;
    padding: 30px;
}

.importantDate .card-body {
    padding: 20px 0 0;
}

.importantDate h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 50px;
}

.importantDate h3,
.importantDate h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.importantDate h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;
}

.importantDate img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1200px) {
    .importantDate {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1024px) {
    .importantDate {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 843px) {
    .importantDate {
        padding-left: 50px;
        padding-right: 50px;
    }
    .importantDate .card {
        width: 100%;
        height: 220px;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */

@media (max-width: 768px) {
    .importantDate {
        padding-left: 50px;
        padding-right: 50px;
    }
    .importantDate .card {
        width: 100%;
        height: 220px;
        padding: 20px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .importantDate {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .importantDate h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .importantDate .card {
        width: 100%;
        height: 250px;
        padding: 15px;
    }
    .importantDate img {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
    }
}
/* ------------ OUR TOPICS START ------------ */

.ourTopics {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    max-width: 100%;
}

/* Card styling */
.ourTopics .row .card {
    margin-left: 0;
    border: none;
}

/* Title styling */
.ourTopics h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 40px;
    background: linear-gradient(to left, #363060, #00949d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    box-sizing: border-box;
}

/* Subtitle styling */
.ourTopics .card h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #343a3a;
}

/* Additional text styling */
.ourTopics .card h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    color: #777777;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .ourTopics {
        margin-left: 100px;
        margin-right: 100px;
    }
    .ourTopics h3 {
        font-size: 35px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .ourTopics {
        margin-left: 80px;
        margin-right: 80px;
    }
    .ourTopics h3 {
        font-size: 32px;
    }
    .ourTopics .card h4 {
        font-size: 16px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .ourTopics {
        margin-left: 50px;
        margin-right: 50px;
    }
    .ourTopics h3 {
        font-size: 30px;
    }
    .ourTopics .card h4 {
        font-size: 15px;
    }
    .ourTopics .card h5 {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .ourTopics {
        margin-left: 20px;
        margin-right: 20px;
    }
    .ourTopics h3 {
        font-size: 28px;
    }
    .ourTopics .card h4 {
        font-size: 14px;
    }
    .ourTopics .card h5 {
        font-size: 12px;
    }
}

/* ------------ AUTHOR INFO START ------------ */
.AuthorInfo {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    max-width: 100%;
    padding-top: 50px;
}

/* Title h1 */
.AuthorInfo h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
    margin-top: 40px;
}

/* Subtitle h2 */
.AuthorInfo h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #343a3a;
    margin-top: 30px;
}

/* Paragraph styling */
.AuthorInfo p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #777777;
}

/* Button styling */
.AuthorInfo button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(45deg, #363060, #00afb9); /* Gradien default */
    background-size: 200% 200%; /* Ukuran latar besar untuk efek bergerak */
    background-position: 0% 50%; /* Posisi awal */
    color: white;
    transition:
        background-position 0.6s ease,
        background-size 0.6s ease,
        color 0.4s ease; /* Transisi halus */
}

.AuthorInfo button a{
    text-decoration: none;
    color: #ffffff;
}

.AuthorInfo button:hover {
    background-position: 100% 50%; /* Geser gradien untuk memberikan efek bergerak */
    color: white;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .AuthorInfo {
        margin-left: 100px;
        margin-right: 100px;
    }
    .AuthorInfo h1 {
        font-size: 28px;
    }
    .AuthorInfo h2 {
        font-size: 18px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .AuthorInfo {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 20px;
        padding-top: 0px;
    }
    .AuthorInfo h1 {
        font-size: 26px;
    }
    .AuthorInfo h2 {
        font-size: 17px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .AuthorInfo {
        margin-left: 50px;
        margin-right: 50px;
    }
    .AuthorInfo h1 {
        font-size: 24px;
    }
    .AuthorInfo h2 {
        font-size: 16px;
    }
    .AuthorInfo p {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .AuthorInfo {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .AuthorInfo h1 {
        font-size: 22px;
    }
    .AuthorInfo h2 {
        font-size: 15px;
    }
    .AuthorInfo p {
        font-size: 14px;
    }
    .AuthorInfo button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

/* ------------ REGISTRATION START ------------ */
.registration {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    max-width: 100%;
    padding-top: 50px;
}

.registration h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
    margin-top: 40px;
}

.registration h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #777777;
    margin-top: 30px;
}

.registration p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #777777;
}

/* Button styling */
.registration button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(45deg, #363060, #00afb9); /* Gradien default */
    background-size: 200% 200%; /* Ukuran latar besar untuk efek bergerak */
    background-position: 0% 50%; /* Posisi awal */
    color: white;
    transition:
        background-position 0.6s ease,
        background-size 0.6s ease,
        color 0.4s ease; /* Transisi halus */
}

.registration button a{
    text-decoration: none;
    color: #ffffff;
}

.registration button:hover {
    background-position: 100% 50%; /* Geser gradien untuk memberikan efek bergerak */
    color: white;
}

/* ------------ RESPONSIVE STYLING ------------ */

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .registration {
        margin-left: 100px;
        margin-right: 100px;
    }
    .registration h1 {
        font-size: 28px;
    }
    .registration h2 {
        font-size: 20px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .registration {
        margin-left: 80px;
        margin-right: 80px;
    }
    .registration h1 {
        font-size: 26px;
    }
    .registration h2 {
        font-size: 19px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .registration {
        margin-left: 50px;
        margin-right: 50px;
    }
    .registration h1 {
        font-size: 24px;
    }
    .registration h2 {
        font-size: 18px;
    }
    .registration p {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .registration {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .registration h1 {
        font-size: 22px;
    }
    .registration h2 {
        font-size: 17px;
    }
    .registration p {
        font-size: 14px;
    }
    .registration button {
        font-size: 14px;
        padding: 10px 15px;
    }
}
/* ------------ PROGRAM COMMITTEE START ------------ */
.programComittee {
    margin-top: 120px;
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 90px;
    max-width: 100%;
}

.programComittee .content {
    margin-top: 35px;
}

.programComittee h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}

.programComittee h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.programComittee hr {
    margin-top: 50px;
}

hr {
    color: #7d7d7d;
}

/* ------------ RESPONSIVE STYLING ------------ */

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .programComittee {
        margin-left: 100px;
        margin-right: 100px;
    }
    .programComittee h3 {
        font-size: 15px;
    }
    .programComittee h4 {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .programComittee {
        margin-left: 80px;
        margin-right: 80px;
    }
    .programComittee h3 {
        font-size: 20px;
    }
    .programComittee h4 {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .programComittee {
        margin-left: 50px;
        margin-right: 50px;
    }
    .programComittee h3 {
        font-size: 13px;
    }
    .programComittee h4 {
        font-size: 13px;
    }
    .programComittee .row {
        flex-direction: column;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .programComittee {
        margin-left: 20px;
        margin-right: 20px;
    }
    .programComittee h3 {
        font-size: 12px;
    }
    .programComittee h4 {
        font-size: 12px;
    }
    .programComittee .content {
        margin-top: 20px;
    }
    .programComittee .row {
        flex-direction: column;
    }
}
/* ------------ REVIEWER START ------------ */
.reviewer {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
}

.reviewer h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .reviewer {
        margin-left: 100px;
        margin-right: 100px;
    }
    .reviewer h4 {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .reviewer {
        margin-left: 80px;
        margin-right: 80px;
    }
    .reviewer h4 {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .reviewer {
        margin-left: 50px;
        margin-right: 50px;
    }
    .reviewer h4 {
        font-size: 13px;
    }
    .reviewer .row {
        flex-direction: column;
    }
}

@media (max-width: 843px) {
    .reviewer {
        margin-left: 80px;
        margin-right: 80px;
    }
    .reviewer h3 {
        font-size: 20px;
    }
    .reviewer h4 {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .reviewer {
        margin-left: 20px;
        margin-right: 20px;
    }
    .reviewer h4 {
        font-size: 12px;
    }
    .reviewer .row {
        flex-direction: column;
    }
}
/* ------------ PRICING START ------------ */
.pricing {
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 90px;
}

.pricing-area {
    width: 100%;
}

.priceCard {
    background-color: #3684a7;
    color: #ffffff;
    height: 250px;
}

.priceCard .card-head{
    min-height: 65px;
    max-height: 65px;
}

.pricing hr {
    border-top: 1px solid #ffffff;
    width: 50%;
}

.priceCard h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}

.priceCard h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 64px;
    color: #ffffff;
}

.priceCard p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

/* ------------ RESPONSIVE STYLING ------------ */

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .pricing {
        margin-left: 100px;
        margin-right: 100px;
    }
    .priceCard h4 {
        font-size: 56px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .pricing {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 50px;
        padding-top: 20px;
    }
    .priceCard h4 {
        font-size: 48px;
    }
    .priceCard h3 {
        font-size: 22px;
    }
    .priceCard p {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .pricing {
        margin-left: 50px;
        margin-right: 50px;
    }
    .priceCard h4 {
        font-size: 40px;
    }
    .priceCard h3 {
        font-size: 20px;
    }
    .priceCard p {
        font-size: 13px;
    }
    .pricing .row {
        justify-content: center;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .pricing {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 50px;
        margin-top: 30px;
    }
    .priceCard h4 {
        font-size: 32px;
    }
    .priceCard h3 {
        font-size: 18px;
    }
    .priceCard p {
        font-size: 12px;
    }
    .pricing .row {
        justify-content: center;
    }
}
/* ------------ PAYMENT METHOD START ------------ */
.payment {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
}

.payment h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}

.payment .card{
    border-style: none;
}

.payment-method,
.payment-addInfo {
    border: none;
}

.payment .card h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}

.payment .card .card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #777777;
}

/* ------------ RESPONSIVE STYLING ------------ */

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .payment {
        margin-left: 100px;
        margin-right: 100px;
    }
    .payment h3 {
        font-size: 14px;
    }
    .payment .card h3 {
        font-size: 14px;
    }
    .payment .card .card-text {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .payment {
        margin-left: 80px;
        margin-right: 80px;
    }
    .payment h3 {
        font-size: 17px;
    }
    .payment .card h3 {
        font-size: 16px;
    }
    .payment .card .card-text {
        font-size: 15px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .payment {
        margin-left: 50px;
        margin-right: 50px;
    }
    .payment h3 {
        font-size: 14px;
    }
    .payment .card h3 {
        font-size: 14px;
    }
    .payment .card .card-text {
        font-size: 12px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .payment {
        margin-left: 10px;
        margin-right: 10px;
    }
    .payment h3 {
        font-size: 12px;
    }
    .payment .card h3 {
        font-size: 12px;
    }
    .payment .card .card-text {
        font-size: 12px;
    }
}
/* ------------ ARTICLE START ------------ */
.article {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 50px;
}

.article h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
}

.article-content .card {
    width: 50%;
}

.article-content .card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.article-content .card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.article-content .card a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .article {
        margin-left: 100px;
        margin-right: 100px;
    }
    .article h1 {
        font-size: 28px;
    }
    .article-content .card {
        width: 60%;
    }
    .article-content .card h5 {
        font-size: 18px;
    }
    .article-content .card p,
    .article-content .card a {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .article {
        margin-left: 80px;
        margin-right: 80px;
    }
    .article h1 {
        font-size: 26px;
    }
    .article-content .card {
        width: 80%;
        margin-bottom: 20px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .article {
        margin-left: 50px;
        margin-right: 50px;
    }
    .article h1 {
        font-size: 24px;
    }
    .article-content .card {
        width: 100%;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .article {
        margin-left: 20px;
        margin-right: 20px;
    }
    .article h1 {
        font-size: 20px;
    }
    .article-content .card h5 {
        font-size: 15px;
    }
    .article-content .card p,
    .article-content .card a {
        font-size: 12px;
    }
}

/* ------------ DOCUMENT START ------------ */
.documentation {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 50px;
}

.documentation h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
}

.documentation a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.photo-area .row {
    display: flex;
    flex-wrap: wrap;
}

.photo-documentation {
    flex: 0 0 calc(33.33% - 20px); /* 3 elemen per baris dengan margin hanya 20px */
    height: 230px;
    background-color: #00afb9;
    margin-bottom: 30px; /* Jarak antar baris */
}

.photo-documentation:not(:nth-child(3n)) {
    margin-right: 30px; /* Hanya elemen di tengah yang diberi jarak kanan */
}

.photo-documentation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .documentation {
        margin-left: 100px;
        margin-right: 100px;
    }
    .documentation h1 {
        font-size: 28px;
    }
    .documentation a {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .documentation {
        margin-left: 80px;
        margin-right: 80px;
    }
    .documentation h1 {
        font-size: 26px;
    }
    .documentation a {
        font-size: 14px;
    }
    .photo-documentation {
        flex: 0 0 calc(100% - 20px); /* 1 elemen per baris */
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .documentation {
        margin-left: 50px;
        margin-right: 50px;
    }
    .documentation h1 {
        font-size: 24px;
    }
    .documentation a {
        font-size: 14px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .documentation {
        margin-left: 20px;
        margin-right: 20px;
    }
    .documentation h1 {
        font-size: 20px;
    }
    .documentation a {
        font-size: 12px;
    }
    .photo-documentation {
        height: 180px; /* Mengurangi tinggi untuk layar kecil */
    }
}
/* ------------ ADDRESS START ------------ */
.address {
    width: 100%;
    margin: 0;
    padding-top: 90px;
    margin-bottom: 45px;
}

.address .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.address .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.address-area {
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
}

.address-area::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #31cebd, #463e7d);
    opacity: 0.8;
    z-index: 1;
}

.address-place {
    position: relative;
    z-index: 2;
    padding: 100px;
}

.address-place h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
}

.address-city p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.contact p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.map-area {
    position: relative;
    height: 410px;
}

.map-area iframe {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Responsif untuk layar dengan lebar maksimal 1024px */
@media (max-width: 1024px) {
    .address-area {
        height: 350px;
    }

    .address-place {
        padding: 70px;
    }

    .address-place h5 {
        font-size: 24px;
    }

    .address-city p,
    .contact p {
        font-size: 14px;
    }

    .map-area {
        height: 350px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .address-area {
        height: 300px;
    }

    .address-place {
        padding: 50px;
    }

    .address-place h5 {
        font-size: 22px;
    }

    .address-city p,
    .contact p {
        font-size: 12px;
    }

    .map-area {
        height: 300px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .address-area {
        height: 250px;
    }

    .address-place {
        padding: 30px;
    }

    .address-place h5 {
        font-size: 20px;
    }

    .address-city p,
    .contact p {
        font-size: 12px;
    }

    .map-area {
        height: 250px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .address-area {
        height: 200px;
    }

    .address-place {
        padding: 20px;
    }

    .address-place h5 {
        font-size: 18px;
    }

    .address-city p,
    .contact p {
        font-size: 12px;
    }

    .map-area {
        height: 200px;
    }
}

/* ------------ FOOTER START ------------ */

.footer {
    margin: 0;
    padding: 0;
    position: relative; /* Supaya .sponsored-area tidak menimpa seluruh konten */
    z-index: 1;
}

.sponsored-area {
    position: absolute; /* Menggunakan absolute agar tidak mengganggu layout normal */
    top: -65px; /* Mengatur top untuk menempatkan sponsored-area di lokasi yang diinginkan */
    width: 100%;
    padding: 0 13%;
    z-index: 10;
}

.sponsored {
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #31cebd, #463e7d);
    color: #ffffff;
}

.sponsored h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.sponsored img {
    height: 50px;
    width: auto;
    margin: 20px;
}

.footer-content {
    background-color: #2e303c;
    color: #777777;
    width: 100%;
    margin: 0;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 100px; /* Kurangi jarak padding top */
    padding-bottom: 0;
}

.icodsa-footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.icodsa-footer img {
    height: 70px;
    width: auto;
    margin-bottom: 20px;
}

.footer-content h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin: 20px;
}

.support-logo img {
    height: 50px;
    width: auto;
    margin: 20px;
}

.footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

@media (max-width: 1024px) {
    .footer-content {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 80px; /* Mengurangi padding top */
    }

    .icodsa-footer img {
        height: 60px;
    }

    .sponsored h3 {
        font-size: 18px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 843px */
@media (max-width: 843px) {
    .footer-content {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 60px; /* Mengurangi padding top */
    }

    .icodsa-footer img {
        height: 50px;
    }

    .sponsored h3 {
        font-size: 16px;
    }

    .sponsored img {
        height: 40px; /* Mengurangi tinggi gambar sponsor */
    }
}

/* Responsif untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .footer-content {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px; /* Mengurangi padding top */
    }

    .icodsa-footer p {
        font-size: 14px;
    }

    .sponsored h3 {
        font-size: 10px;
    }

    .sponsored img {
        height: 30px; /* Mengurangi tinggi gambar sponsor */
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Responsif untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .footer-content {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px; /* Mengurangi padding top */
        text-align: center; /* Menyejajarkan teks di tengah */
    }

    .icodsa-footer img {
        height: 40px;
    }

    .icodsa-footer p {
        font-size: 12px;
    }

    .sponsored h3 {
        font-size: 10px;
        padding-left: 5px;
    }

    .sponsored img {
        height: 20px; /* Mengurangi tinggi gambar sponsor */
        margin: 10px; /* Mengurangi margin gambar sponsor */
        margin-bottom: 16px;
    }
}

/* 
---------------------- */
.fade-out {
    -webkit-animation: move 5s forwards;
    animation: move 5s forwards;
    animation-delay: 5s;
}

@keyframes move {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

    to {
        visibility: hidden;
    }
}
@-webkit-keyframes move {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

    to {
        visibility: hidden;
    }
}

.fade-in {
    -ms-animation: fadeIn ease 0.5s backwards;
    -webkit-animation: fadeIn ease 0.3s backwards;
    -moz-animation: fadeIn ease 0.5s backwards;
    -o-animation: fadeIn ease 0.5s backwards;
    animation: fadeIn ease 0.5s backwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#aboutSection .tsparticles {
    display: none; /* Sembunyikan Particles di About Us */
}
