@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: #ffffff;
    color: #000000;
}

nav {
    background: linear-gradient(to right, #463e7d, #31cebd);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 16px;
    letter-spacing: 1px;
}

nav .container-fluid {
    padding-left: 40px;
}

nav img {
    width: 125px;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

.navbar {
    padding: 20px 165px;

    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.navbar.scrolled {
    background: linear-gradient(to right, #463e7d, #31cebd); /* Gaya seperti yang diinginkan */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* ------------ HOME START ------------ */

.Home {
    margin-top: 0px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #463e7d, #31cebd);
    opacity: 0.8;
    z-index: 1;
}

.Home .container {
    position: relative;
    z-index: 2;
    color: #ffffff;
}

#hostLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hostLogo img {
    width: 165px;
    margin: 20px 10px;
}

.Home h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 1px;
}

.Home h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
}

.Home button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 20px;
    background-color: transparent;
    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.Home button:hover {
    background: linear-gradient(to right, #463e7d, #31cebd);
    color: white;
    border: #ffffff;
    border-style: solid;
    border-width: 1px;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Home p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 1px;
}

/* ------------ ABOUT US START ------------ */
.AboutUs {
    margin-top: 100px;
    margin-bottom: 100px;
}

#AboutUs h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

/* .confDay {
    background-color: #343a3a;
} */

.col-md-6.col-lg-5 {
    position: relative;
}

.excellance-tag {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 200px;
    height: 250px;
    border: #ffffff;
    border-style: solid;
    border-width: 5px;
    background-color: #3584a7;
    color: white;
    z-index: 1;
}

.excellance-text {
    border: #ffffff;
    border-style: solid;
}

#confImg {
    max-width: 80%;
    object-fit: cover;
    z-index: 0; /* Pastikan gambar di bawah tag */
}

.confDay p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
}

.confDay h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
}

.confDay h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
}

#aboutUsH1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

#aboutUsDesc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

/* ------------ Speakers US START ------------ */
.Speakers {
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 190px;
}

.custom-card {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 600px;
}

.section-header h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 2px;
    color: #3584a7;
}

.section-header h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #343a3a;
}

.Speakers .card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #343a3a;
}

.Speakers .card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

/* ------------ Tutorial START ------------ */
.tutorial {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
}

#tutor img {
    width: 100%;
    margin-bottom: 50px;
}

.tutorial p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

/* ------------ IMPORTANT DATE START ------------ */
.importantDate {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 100px;
    padding-left: 190px;
    padding-right: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.importantDate::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #463e7d, #31cebd); /* Gradient dari kiri ke kanan */
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: 1;
}

.importantDate .container {
    position: relative;
    z-index: 2;
}

.importantDate .card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: #ffffff solid 2px;
    padding: 30px 30px;
}

.importantDate .card-body {
    padding: 20px 0 0;
}

.importantDate h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 50px;
}

.importantDate h3,
.importantDate h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.importantDate h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;
}

.importantDate img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

/* ------------ OUR TOPICS START ------------ */

.ourTopics {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    max-width: 100%;
}

.ourTopics .row .card {
    margin-left: 0;
    border: none;
}

.ourTopics h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 40px;
    background: linear-gradient(to left, #363060, #00949d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    box-sizing: border-box;
}

.ourTopics .card h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #343a3a;
}

.ourTopics .card h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

/* ------------ AUTHOR INFO START ------------ */
.AuthorInfo {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    max-width: 100%;
}

.AuthorInfo h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
    margin-top: 40px;
}

.AuthorInfo h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #343a3a;
    margin-top: 30px;
}
.AuthorInfo p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #777777;
}

.AuthorInfo button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(45deg, #363060, #00afb9); /* Gradien default */
    background-size: 200% 200%; /* Ukuran latar besar untuk efek bergerak */
    background-position: 0% 50%; /* Posisi awal */
    color: white;
    transition:
        background-position 0.6s ease,
        background-size 0.6s ease,
        color 0.4s ease; /* Transisi halus */
}

.AuthorInfo button:hover {
    background-position: 100% 50%; /* Geser gradien untuk memberikan efek bergerak */
    color: white;
}

/* ------------ PROGRAM COMMITTEE START ------------ */
.programComittee {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    max-width: 100%;
}

.programComittee .content {
    margin-top: 35px;
}

.programComittee h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}

.programComittee h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.programComittee hr {
    margin-top: 50px;
}

hr {
    color: #7d7d7d;
}

/* ------------ REVIEWER START ------------ */
.reviewer {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
}

.reviewer h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

/* ------------ PRICING START ------------ */
.pricing {
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 190px;
}

.pricing-area {
    width: 100%;
}

.priceCard {
    background-color: #3684a7;
    color: #ffffff;
}

.pricing hr {
    border-top: 1px solid #ffffff;
    width: 50%;
}

.priceCard h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}

.priceCard h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 64px;
    color: #ffffff;
}

.priceCard p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

/* ------------ PAYMENT METHOD START ------------ */
.payment {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
}

.payment h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}

.payment-method,
.payment-addInfo {
    border: none;
}

.payment .card h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #777777;
}

.payment .card .card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #777777;
}

/* ------------ ARTICLE START ------------ */
.article {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 50px;
}

.article h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
}

.article-content .card {
    width: 50%;
}

.article-content .card h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.article-content .card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777777;
}

.article-content .card a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

/* ------------ DOCUMENT START ------------ */
.documentation {
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 50px;
}

.documentation h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #343a3a;
}

.documentation a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.photo-area .row {
    display: flex;
    flex-wrap: wrap;
}

.photo-documentation {
    flex: 0 0 calc(33.33% - 20px); /* 3 elemen per baris dengan margin hanya 20px */
    height: 230px;
    background-color: #00afb9;
    margin-bottom: 30px; /* Jarak antar baris */
}

.photo-documentation:not(:nth-child(3n)) {
    margin-right: 30px; /* Hanya elemen di tengah yang diberi jarak kanan */
}

.photo-documentation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------ ADDRESS START ------------ */
.address {
    width: 100%;
    margin: 0;
}

.address .container-fluid {
    padding-left: 0; /* Menghilangkan padding kiri */
    padding-right: 0; /* Menghilangkan padding kanan */
}

.address row.no-gutters {
    margin-right: 0; /* Menghilangkan margin kanan pada row */
    margin-left: 0; /* Menghilangkan margin kiri pada row */
}

.address-area {
    width: 50%;
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative; /* Menambahkan posisi relatif untuk ::before */
}

.address-area::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #31cebd, #463e7d);
    opacity: 0.8;
    z-index: 1;
}

.address-place {
    position: relative;
    z-index: 2;
    padding: 100px;
}

.address-place h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
}

.address-city p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.contact p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.map-area {
    position: relative;
    width: 50%;
    height: 410px;
}

.map-area iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
