@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: #ffffff;
    color: #000000;
}

/* ------------ NAVBAR ------------*/

#logout {
    color: #cc1010;
}

#logout {
    border-left: 1px solid #ffffff;
    padding-left: 10px; /* Jarak antara garis dan teks */
}

/* ------------ HOME START ------------ */
.home-dashboard {
    margin-top: 100px;
}

#inputLogo {
    width: 150px;
    height: 80px;
    border: 1px dotted rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#inputLogo label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 9px;
}

#inputLogo input[type="file"] {
    display: none; /* Hide the actual file input */
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3584a7;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    width: 110px;
}

.custom-file-upload:hover {
    background-color: #2ba2d6;
}

#logo-container {
    border: 1px dotted rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    position: relative; /* Buat logo-container menjadi relative untuk menempatkan child-nya */
    margin: 5px;
}

#hostLogo img {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
}

.delete-icon {
    position: absolute;
    top: 10;
    right: 0;
    cursor: pointer;
    z-index: 1;
    margin-right: 5px;
    margin-top: 5px;
}

.editable-text {
    border: 1px dotted rgba(255, 255, 255, 0.7);
    background: transparent;
    outline: none;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title-input {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 64px;
    letter-spacing: 1px;
}

.place-date-input {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1px;
}

#descHomeEdit {
    width: 100%;
}

.description-input {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 1px;
    width: 100%;
    resize: none; /* Hapus opsi resize manual jika diinginkan */
    box-sizing: border-box; /* Pastikan padding tidak mempengaruhi lebar total */
}

.editable-text::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#inputHomeBg {
    left: 50%;
}

@media (max-width: 480px) {
    #hostLogo img {
        width: auto;
        height: 30px;
        margin-bottom: 10px;
    }
}

/* ------------ ABOUT US START ------------ */
.AboutUsDash {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 200px;
}

#aboutImg {
    width: 350px;
    height: 500px;
    background-color: #2ba2d6;
    position: relative;
    z-index: 1;
    overflow: hidden; /* Untuk memastikan gambar yang meluap akan dipotong */
}

#aboutImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inputImgAbout {
    position: absolute; /* Membuat elemen ini berada di atas */
    top: 15%; /* Sesuaikan posisi top sesuai keinginan */
    left: 30%; /* Sesuaikan posisi left sesuai keinginan */
    width: 200px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 2; /* Pastikan z-index lebih tinggi dari gambar */
    object-fit: cover;
}

#inputImgAbout label {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 11px;
}

#inputImgAbout input[type="file"] {
    display: none; /* Hide the actual file input */
}

.custom-file-upload-about {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3584a7; /* Button color */
    color: white;
    border: 1px solid #ffffff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    width: auto;
}

#AboutUsDash h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

.col-md-6.col-lg-5 {
    position: relative;
}

#excelance-tag {
    position: absolute;
    top: 40%; /* Atur sesuai kebutuhan */
    left: 40%; /* Atur sesuai kebutuhan */
    width: 200px;
    height: 310px;
    border: #ffffff;
    border-style: solid;
    background-color: #3584a7;
    color: white;
    z-index: 1;
}

.excellance-text {
    border: #ffffff;
    border-style: solid;
}

#confImgDash {
    max-width: 100%;
    object-fit: cover;
    z-index: 0; /* Pastikan gambar di bawah tag */
}

.confDay p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
}

.confDay h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
}

.confDay h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
}

#AboutUsDash H1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

#aboutUsDesc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

.descAbout-input {
    border: 1px dotted rgba(0, 0, 0, 0.7); /* Border titik-titik */
    background: transparent;
    width: 100%;
    height: 700px;
    outline: none;
    color: #000000;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    resize: none; /* Menghindari pengguna untuk mengubah ukuran */
    overflow: auto; /* Menambahkan scroll vertical jika isi terlalu panjang */
}

.editable-text {
    border: 1px dotted rgba(255, 255, 255, 0.7); /* Border titik-titik */
    background: transparent;
    outline: none;
    text-align: center;
    color: #ffffff;
    padding: 10px; /* Sedikit padding untuk memberi ruang di dalam border */
    margin-bottom: 20px; /* Ruang di bawah setiap input */
}

.ourTopics .card {
    /* border: none; */
    width: auto;
    margin: 20px;
}
/* ------------ SPEAKERS US START ------------ */

.Speakers h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 2px;
    color: #3584a7;
}

.Speakers h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #343a3a;
    padding-left: 3px;
}

#buttonAddSpeaker {
    border: none;
    background-color: transparent;
}

.card-img-top {
    height: 330px;
}

#cardSpeaker-dashboard {
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    min-height: 650px;
    max-height: auto;
}
/* ------------ TUTORIAL US sta ------------ */

.tutorial-dash {
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
}

#thumbnailImg {
    width: 100%;
    height: 550px;
    position: relative;
    margin-bottom: 30px;
}

#thumbnailImg img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#uploadThumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#uploadThumbnail input {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3584a7; /* Button color */
    color: white;
    border: 1px solid #ffffff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    width: auto;
}

#labelThumbnail {
    width: auto;
}

#uploadThumbnail label {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 11px;
}

#uploadThumbnail input[type="file"] {
    display: none; /* Hide the actual file input */
}

.abstract-input {
    width: 100%;
}

.abstract-input {
    border: dashed 2px #a3a3a3; /*optional*/
    border-style: dashed;
    border-image-source: url("https://i.sstatic.net/wLdVc.png");
    border-image-slice: 2;
    border-image-repeat: round;
    background: transparent;
    width: 100%;
    height: 300px;
    outline: none;
    color: #000000;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    resize: none;
    overflow: auto;
}

@media (max-width: 843px) {
    #thumbnailImg {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 480px) {
    #thumbnailImg {
        width: 100%;
        height: 200px;
    }
}

/* IMPORTANT DATE */

/* AUTHOR INFORMATION */

/* REGISTRATION */

/* PAYMENT METHOD */
#payment-dash-card {
    border: dashed 2px #a3a3a3; /*optional*/
    border-style: dashed;
    border-image-source: url("https://i.sstatic.net/wLdVc.png");
    border-image-slice: 2;
    border-image-repeat: round;
}
