@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: #ffffff;
    color: #000000;
}

nav {
    background: linear-gradient(to right, #463e7d, #31cebd); /* Gradient dari kiri ke kanan */
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 16px;
    letter-spacing: 1px;
}

nav img {
    width: 125px;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

/* ------------ HOME START ------------ */

#inputLogo {
    width: 150px;
    height: 80px;
    border: 1px dotted rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#inputLogo label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 9px;
}

#inputLogo input[type="file"] {
    display: none; /* Hide the actual file input */
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3584a7; /* Button color */
    color: white;
    border: 1px solid #ffffff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    width: 110px;
}

.custom-file-upload:hover {
    background-color: #2ba2d6; /* Hover effect */
}

#logo-container {
    border: 1px dotted rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    position: relative; /* Buat logo-container menjadi relative untuk menempatkan child-nya */
    margin: 5px;
}

#hostLogo img {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
}

.delete-icon {
    position: absolute;
    top: 10;
    right: 0;
    cursor: pointer;
    z-index: 1;
    margin-right: 5px;
    margin-top: 5px;
}

.editable-text {
    border: 1px dotted rgba(255, 255, 255, 0.7);
    background: transparent;
    outline: none;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title-input {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 64px;
    letter-spacing: 1px;
}

.place-date-input {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 1px;
}

.description-input {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 1px;
}

.editable-text::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* ------------ ABOUT US START ------------ */
.AboutUs {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 200px;
}

#aboutImg {
    object-fit: cover;
    width: 350px;
    height: 500px;
    background-color: #2ba2d6;
}

#AboutUs h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

.col-md-6.col-lg-5 {
    position: relative;
}

#excelance-tag {
    position: absolute;
    top: 45%; /* Atur sesuai kebutuhan */
    left: 30%; /* Atur sesuai kebutuhan */
    width: 200px;
    height: 330px;
    border: #ffffff;
    border-style: solid;
    background-color: #3584a7;
    color: white;
    z-index: 1;
}

.excellance-text {
    border: #ffffff;
    border-style: solid;
}

#confImg {
    max-width: 80%;
    object-fit: cover;
    z-index: 0; /* Pastikan gambar di bawah tag */
}

.confDay p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
}

.confDay h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
}

.confDay h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
}

#aboutUsH1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
}

#aboutUsDesc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #777777;
}

.descAbout-input {
    border: 1px dotted rgba(0, 0, 0, 0.7); /* Border titik-titik */
    background: transparent;
    width: 100%;
    height: 700px;
    outline: none;
    color: #000000;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    resize: none; /* Menghindari pengguna untuk mengubah ukuran */
    overflow: auto; /* Menambahkan scroll vertical jika isi terlalu panjang */
}

.editable-text {
    border: 1px dotted rgba(255, 255, 255, 0.7); /* Border titik-titik */
    background: transparent;
    outline: none;
    text-align: center;
    color: #ffffff;
    padding: 10px; /* Sedikit padding untuk memberi ruang di dalam border */
    margin-bottom: 20px; /* Ruang di bawah setiap input */
}

#gambarAbout{
    background-color: #31cebd;
}
/* ------------ SPEAKERS US START ------------ */
.ourTopics .card {
    /* border: none; */
    width: auto;
    margin: 20px;
}

.Speakers h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 2px;
    color: #3584a7;
}

.Speakers h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #343a3a;
    padding-left: 3px;
}


/* ------------ TUTORIAL US sta ------------ */

.tutorial-dash{
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
}

#thumbnailImg{
    background-color: #31cebd;
    width: 100%;
    height: 550px;
}

#thumbnailImg img{
    width: 100%;
    height: 100%;
}

#tutorial .container{
    width: 100vh;
}

.abstract-input{
    width: 100%;
}

.abstract-input{
    border: 1px dotted rgba(0, 0, 0, 0.7); /* Border titik-titik */
    background: transparent;
    width: 100%;
    height: 300px;
    outline: none;
    color: #000000;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    resize: none;
    overflow: auto;
}
